{% extends "admin.html" %}

{% block title %}Edit Post{% endblock %}

{% block admin_blog_active %}class="active"{% endblock %}

{% block admin_content %}
	<form role="form" method="POST" action="/admind/blog/edit/{{ post.pk }}/">
		{% csrf_token %}
		<div class="form-group">
			<input type="text" class="form-control" name="title" placeholder="Title" value="{{ post.title }}">
		</div>
		<div class="form-group">
			<textarea class="form-control" name="body" rows="15">{{ post.body }}</textarea>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary btn-block" value="Save">
		</div>
	</form>
{% endblock %}