{% extends "admin.html" %}

{% block title %}New Problem{% endblock %}

{% block admin_problems_active %}class="active"{% endblock %}

{% block admin_content %}
	<form role="form" method="POST" action="/admind/problems/new/">
		{% csrf_token %}
		<div class="form-group">
			<select class="form-control" name="skill">
				<option value="-1">Skill</option>
				{% for difficulty in difficulties %}
					<optgroup label="{{ difficulty.name }}">
						{% for skill in difficulty.skill_set.all %}
							<option value="{{ skill.pk }}" {% if skill.pk == skill_prefill %}selected{% endif %}>{{ skill.name }}</option>
						{% endfor %}
					</optgroup>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<select class="form-control" name="learn_item">
				<option value="-1">Optional Trick</option>
				{% for difficulty in difficulties %}
					<optgroup label="{{ difficulty.name }}"></optgroup>
						{% for skill in difficulty.skill_set.all %}
							<optgroup label="&nbsp;{{ skill.name }}">
								{% for item in skill.learnitem_set.all %}
									<option value="{{ item.pk }}" {% if item.pk == learn_item_prefill %}selected{% endif %}>{{ item.title }}</option>
								{% endfor %}
							</optgroup>
						{% endfor %}
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<textarea class="form-control" name="setup" rows="5" placeholder="Python Setup Code">{{ setup_prefill }}</textarea>
		</div>
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control" name="question" placeholder="Question" value="{{ question_prefill }}">
				<span class="input-group-addon"><input type="checkbox" name="round" id="round" {% if round_prefill %}checked{% endif %}> <label for="round">5% Error</label></span>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-xs-2 col-sm-1">
					<input type="text" class="form-control" name="answer_prefix" value="{{ answer_prefix_prefill }}">
				</div>
				<div class="col-xs-8 col-sm-10">
					<input type="text" class="form-control" name="answer" placeholder="Answer" value="{{ answer_prefill }}">
				</div>
				<div class="col-xs-2 col-sm-1">
					<input type="text" class="form-control" name="answer_suffix" value="{{ answer_suffix_prefill }}">
				</div>
			</div>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" name="name" placeholder="Optional Name" value="{{ name_prefill }}">
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary btn-block" value="Create Problem">
		</div>
	</form>
{% endblock %}
