{% extends "admin.html" %}

{% block title %}Edit Problem{% endblock %}

{% block admin_problems_active %}class="active"{% endblock %}

{% block admin_content %}
	<form role="form" method="POST" action="/admind/problems/edit/{{ problem.pk }}/">
		{% csrf_token %}
		<div class="form-group">
			<select class="form-control" name="skill" id="skill">
				{% for difficulty in difficulties %}
					<optgroup label="{{ difficulty.name }}">
						{% for skill in difficulty.skill_set.all %}
							<option value="{{ skill.pk }}" {% if skill == problem.skill %}selected{% endif %}>{{ skill.name }}</option>
						{% endfor %}
					</optgroup>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<select class="form-control" name="learn_item" id="learn_item" multiple>
				{% for difficulty in difficulties %}
					<optgroup label="{{ difficulty.name }}"></optgroup>
						{% for skill in difficulty.skill_set.all %}
							<optgroup label="&nbsp;{{ skill.name }}">
								{% for item in skill.learnitem_set.all %}
									<option value="{{ item.pk }}" {% if item in problem.learn_item.all %}selected{% endif %}>{{ item.title }}</option>
								{% endfor %}
							</optgroup>
						{% endfor %}
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<textarea class="form-control" name="setup" rows="5" placeholder="Python Setup Code">{{ problem.setup }}</textarea>
		</div>
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control" name="question" placeholder="Question" value="{{ problem.question }}">
				<span class="input-group-addon"><input type="checkbox" name="round" id="round" {% if problem.round %}checked{% endif %}> <label for="round">5% Error</label></span>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-xs-2 col-sm-1">
					<input type="text" class="form-control" name="answer_prefix" value="{{ problem.answer_prefix }}">
				</div>
				<div class="col-xs-8 col-sm-10">
					<input type="text" class="form-control" name="answer" placeholder="Answer" value="{{ problem.answer }}">
				</div>
				<div class="col-xs-2 col-sm-1">
					<input type="text" class="form-control" name="answer_suffix" value="{{ problem.answer_suffix }}">
				</div>
			</div>
		</div>
		<div class="form-group">
			{% if problem.name != problem.question %}
				<input type="text" class="form-control" name="name" placeholder="Optional Name" value="{{ problem.name }}">
			{% else %}
				<input type="text" class="form-control" name="name" placeholder="Optional Name">
			{% endif %}
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary btn-block" value="Save Problem">
		</div>
	</form>
{% endblock %}

{% block scripts %}
	<script src="/static/admin_problems.js"></script>
{% endblock %}
