{% extends "parent.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<h1>Dashboard</h1>
	<hr>
	{% if posts %}
		<h2>Unread Blog Posts</h2>
		<hr>
		{% include "display_posts.html" %}
		<hr>
	{% endif %}
	<h2>Skills</h2>
	<hr>
	{% if skills %}
		<table class="table">
			<thead>
				<tr>
					<th>Difficulty</th>
					<th>Skill</th>
					<th>Time</th>
					<th>Correct</th>
					<th>Practiced</th>
				</tr>
			</thead>
			<tbody>
				{% for skill in skills %}
					<tr>
						<td>{{ skill.difficulty.name }}</td>
						<td><a href="/skill/{{ skill.pk}}/">{{ skill.name }}</a></td>
						<td>{{ skill.user_time }}s</td>
						<td>{{ skill.user_correct }}%</td>
						<td>{{ skill.user_practiced }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>You don't have any skills to display. Go <a href="/practice/">practice</a>!</p>
	{% endif %}
{% endblock %}
