{% extends "parent.html" %}

{% block title %}Practice{% endblock %}

{% block content %}
	{% include "display_alerts.html" %}
	<h1>Practice</h1>
	<hr>
	{% if problem %}
		<h2>Difficulty: {{ problem.skill.difficulty.name }}</h2>
		<h3>Skill: {{ problem.skill.name }}</h3>
		<hr>
		<p>{% if problem.round %}* {% endif %}{{ question }}</p>
		<form role="form" method="POST">
			{% csrf_token %}
			<input type="hidden" name="time" id="time" value="0">
			<div class="form-group">
				<div class="input-group" style="width:100%">
					{% if problem.answer_prefix %}
						<span class="input-group-addon">{{ problem.answer_prefix }}</span>
					{% endif %}
					<input type="text" class="form-control" name="answer" id="answer" autofocus placeholder="Answer" autocomplete="off">
					{% if problem.answer_suffix %}
						<span class="input-group-addon">{{ problem.answer_suffix }}</span>
					{% endif %}
				</div>
			</div>
			<div class="form-group"><button type="submit" class="btn btn-primary btn-block">Check</button></div>
			<p><a href="/learn/skill/{{ problem.skill.pk }}/">Tricks for {{ problem.skill.name }}</a></p>
			<p><a href="/learn/item/{{ problem.learn_item.pk }}/">Tricks for this problem</a></p>
		</form>
	{% else %}
		<h2>No problem was found.</h2>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script src="/static/practice.js"></script>
{% endblock %}
