{% extends "parent.html" %}

{% block title %}Practice{% endblock %}

{% block content %}
	{% include "display_alerts.html" %}
	<h1>Practice</h1>
	<hr>
	{% if problem and not error %}
		<h2>Difficulty: {{ problem.skill.difficulty.name }}</h2>
		<h3>Skill: {{ problem.skill.name }}</h3>
		<hr>
		<p>{% if problem.round %}* {% endif %}{{ question }}</p>
		<form role="form" method="POST">
			{% csrf_token %}
			<input type="hidden" name="time" id="time" value="0">
			<div class="form-group">
				<div class="input-group" style="width:100%">
					{% if problem.answer_prefix %}
						<span class="input-group-addon">{{ problem.answer_prefix }}</span>
					{% endif %}
					<input type="text" class="form-control" name="answer" id="answer" autofocus placeholder="Answer" autocomplete="off">
					{% if problem.answer_suffix %}
						<span class="input-group-addon">{{ problem.answer_suffix }}</span>
					{% endif %}
				</div>
			</div>
			<div class="form-group"><button type="submit" class="btn btn-primary btn-block">Check</button></div>
			<p><a href="/learn/skill/{{ problem.skill.pk }}/">Tricks for {{ problem.skill.name }}</a></p>
			{% if problem.learn_item %}
				<p><a href="/learn/item/{{ problem.learn_item.pk }}/">Tricks for this problem</a></p>
			{% endif %}
		</form>
	{% elif not problem %}
		<h2>A problem could not be generated.</h2>
	{% else %}
		<h2>An error was encountered while generating this problem.</h2>
		<p>
			Please send this error report to {{ problem.author.name }}. Sorry for the inconvenience. To get a new problem, click "Practice" in the navigation bar at the top of the page.
		</p>
		<pre>
Problem ID: {{ problem.pk }}
Problem Name: {{ problem.name }}
Stack trace:

{% for fn, ln, f, text in error %}
File {{ fn }}, line {{ ln }}, function {{ f }}:
	{{ text }}

{% endfor %}
		</pre>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script src="/static/practice.js"></script>
{% endblock %}
