{% extends "parent.html" %}

{% block title %}Practice{% endblock %}

{% block content %}
	<h1>Practice</h1>
	<hr>
	<h2><a href="/practice/all/">Practice All</a></h2>
	<hr>
	{% for difficulty in difficulties %}
		<h2><a href="/practice/difficulty/{{ difficulty.pk }}/">{{ difficulty.name }}</a></h2>
		<ul>
			{% for skill in difficulty.skill_set.all %}
				<li><a href="/practice/skill/{{ skill.pk }}/">{{ skill.name }}</a></li>
			{% endfor %}
		</ul>
		{% if not forloop.last %}<hr>{% endif %}
	{% endfor %}
{% endblock %}