{% extends "parent.html" %}

{% block title %}{{ skill.name }} Details{% endblock %}

{% block content %}
	<h1>{{ skill.name }}</h1>
	<h2>Difficulty: {{ skill.difficulty.name }}</h2>
	<hr>
	<h2>Recent Practices</h2>
	<hr>
	{% if practices %}
		<table class="table">
			<thead>
				<tr>
					<th>Problem</th>
					<th>Time</th>
					<th class="center-column">Tricks</th>
				</tr>
			</thead>
			<tbody>
				{% for practice in practices %}
					<tr {% if practice.correct %}class="success"{% else %}class="danger"{% endif %}>
						<td><a href="/problem/{{ practice.problem.pk }}/">{{ practice.problem.name }}</a></td>
						<td>{{ practice.time }}s</td>
						<td class="center-column">
							{% if practice.problem.learn_item %}
								<a href="/learn/item/{{ practice.problem.learn_item.pk }}/" class="btn btn-primary">
									<span class="glyphicon glyphicon-book"></span>
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>You haven't practiced recently. Go <a href="/practice/">practice</a>!</p>
	{% endif %}
	<h2>Average Performance</h2>
	<hr>
	<div class="hidden" id="ajax">skill_chart/{{ skill.pk }}</div>
	<div class="chart" id="chart">Loading chart...</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="/static/chart.js"></script>
{% endblock %}
